/* mobile */
body {
  background-color: black;
  display: flex;
  justify-content: center;
}
#outerContainer {
  display: flex;
  flex-direction: column;
  width: 430px;
}

h1 {
  color: white;
  font-size: 20px;
}

h2 {
  color: #00ffdb;
  font-size: 16px;
}

p {
  color: #7755ff;
  font-size: 18px;
  font-weight: bold;
}

#profilePic {
  margin-top: -50px;
}

#infoContainer {
  border: solid #7755ff 3px;
  margin-top: -3.5px;
}

#foodFriends {
  color: #00ffdb;
}

#foodGroups {
  color: #7755ff;
}

#foodFeed {
  color: #ff0025;
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

.centeredIcon {
  align-self: center;
}

#teal {
  background-color: #00ffdb;
  display: flex;
  justify-content: space-evenly;
  padding: 7px;
}

#purple {
  background-color: #7755ff;
  display: flex;
  justify-content: space-evenly;
  padding: 7px;
}

#content {
  display: flex;
  justify-content: space-between;
}

#info {
  text-align: center;
}

#folderIcon {
  height: 28.94px;
  width: 28.7px;
}

#roundAddIcon {
  height: 22.7px;
  width: 25.7px;
}

.postProfile {
  align-self: center;
}

.topOfPost {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profileName {
  display: flex;
}

.namePostTeal {
  margin-left: 15px;
  color: #00ffdb;
}

.postContainerTeal {
  border: #00ffdb solid;
  height: 430px;
  width: 428px;
  margin-bottom: 20px;
}

.postImg {
  display: flex;
  justify-content: center;
}

.postCaption {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 16px;
}

.namePostPurple {
  color: #7755ff;
  margin-left: 15px;
}

.postContainerPurple {
  border: #7755ff solid;
  height: 430px;
  width: 428px;
  margin-bottom: 20px;
}

.desktopOnly {
  display: none;
}

/* Desktop */

@media (min-width: 600px) {
  body {
    background: linear-gradient(
      180deg,
      #000000 4.69%,
      #190087 19.27%,
      #3e00b3 35.94%,
      #6b00d7 52.08%,
      #a230ed 68.75%,
      #c364fa 84.37%,
      #d391fa 100%
    );
  }

  #outerContainer {
    width: 806px;
    height: 3029px;
    background-color: #000000;
  }

  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: flex;
  }

  #infoContainer {
    margin-top: 1px;
    border: solid 4px #7755ff;
    border-left: none;
    border-right: none;
  }

  #profilePic {
    align-self: center;
    margin-top: -170px;
    margin-left: 25px;
  }

  #info {
    text-align: left;
    padding-left: 20px;
  }

  #nameInfoDesktop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  #headerIconsLeft {
    display: flex;
    flex-direction: column;
  }
  #headerIconsRight {
    display: flex;
    flex-direction: column;
  }

  #headerIcons {
    display: flex;
    align-items: center;
    margin-left: 250px;
  }

  .searchBar {
    margin: 0px 15px;
  }

  #teal {
    height: 324px;
    display: flex;
    flex-direction: column;
  }

   .friendsAndGroups{
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
  }

  #purple {
    height: 324px;
    display: flex;
    flex-direction: column;

}
