/* mobile */
body {
  background-color: black;
}
header {
  background-image: url(/food\ background.jpg);
  height: 430px;
  width: 390px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

form {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 157px;
  height: 157px;
  border-radius: 15%;
}

#foodFace {
  background-color: black;
}

h1 {
  color: #5b00ff;
}

#food {
  color: #ff0025;
}

.text {
  color: #00ffdb;
}

#outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  margin: 10px;
}

input {
  width: 300px;
}
